
.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.slider .slides li img{
  /*position: relative;*/
  width: 100%;
  height: 100%;
 }
 #oxo{
  width: 150px;
  height: 70px;

 }